<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>Remove Customer</title>
</head>
<body>

<input type="hidden" th:field="${customer.customerId}">
<div>
    Name: <p th:text="${customer.customerName}"></p>
    Do you sure to delete?
</div>
<button id="clickDelete" type="button" class="btn btn-danger" style="margin-left: 100px"
        th:onclick="'javascript:actionDelete(\''+ ${customer.customerId} + '\');'">Delete</button>

</body>
</html>