<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Remove Service</title>
</head>
<body>

<input type="hidden" th:field="${contracts.contractId}">
<div>
    Customer: <p th:text="${contracts.customerId.customerName}"></p>
    Do you sure to delete?
</div>
<button id="clickDelete" type="button" class="btn btn-danger" style="margin-left: 100px"
        th:onclick="'javascript:actionDelete(\''+ ${contracts.contractId} + '\');'">Delete</button>

</body>
</html>