<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>List All Contract</title>
</head>
<body>
<nav th:replace="~{layout/navbar::navbar}"></nav>
<center>
    <h3><b>LIST ALL CONTRACT</b></h3>
</center>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="btnModalCreate">Create</button>

<form th:action="@{/contract/search}" method="get" class="form-group row">
    <label class="col-sm-1 col-form-label">Search: </label>
    <div class="col-sm-5">
        <input type="text" class="form-control" id="inputSearch" name="search" placeholder="search by name">
    </div>
</form>

<!--Show list-->

<table class="table table-bordered table-striped table-hover" id="searchTable">
    <thead class="thead-inverse">
    <tr>
        <th>Id</th>
        <th>Date Start</th>
        <th>Date End</th>
        <th>Deposit</th>
        <th>Total Money</th>
        <th>Name Employee</th>
        <th>Name Customer</th>
        <th>Service</th>
        <th>View</th>
        <th>Details</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract:${contractList}">
        <td scope="row" th:text="${contract.contractId}"></td>
        <td th:text="${contract.contractStartDate}"></td>
        <td th:text="${contract.contractEndDate}"></td>
        <td th:text="${contract.contractDeposit}"></td>
        <td th:text="${contract.contractTotalMoney}"></td>
        <td th:text="${contract.employeeId.employeeName}"></td>
        <td th:text="${contract.customerId.customerName}"></td>
        <td th:text="${contract.serviceId.serviceName}"></td>
        <td>
            <button type="button" class="btn btn-outline-secondary" id="btnModalDetails"
                    th:onclick="'javascript:showDetails(\''+ ${contract.contractId}+ '\');'">
                View Details
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-dark" id="btnModalSaveDetails"
                    th:onclick="'javascript:saveDetails(\''+ ${contract.contractId}+ '\');'">
                Edit Details
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-success" id="btnModalEdit"
                    th:onclick="'javascript:showEdit(\''+ ${contract.contractId}+ '\');'">
                Edit
            </button>
            <button type="button" class="btn btn-danger" id="btnModalDelete"
                    th:onclick="'javascript:showDelete(\''+ ${contract.contractId} + '\');'">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>

<nav aria-label="   Page navigation example" style="float: right; margin-right: 25px">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" th:href="@{/contract(page = 0, search = ${stringAfterCheck})}">Prevous</a></li>
        <th:block th:each="i: ${#numbers.sequence(0, contractList.totalPages - 1)}">
            <li class="page-item">
                <a class="page-link" th:href="@{/contract(page=${i},search=${stringAfterCheck})}" th:text="${i + 1}"></a>
            </li>
        </th:block>
        <li class="page-item"><a class="page-link" th:href="@{/contract(page = ${contractList.totalPages - 1}, search = ${stringAfterCheck})}">Next</a></li>
    </ul>
</nav>

<!-- Modal Create-->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Contract</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- Modal Edit-->
<div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Information Contract</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body2">

            </div>
        </div>
    </div>
</div>

<!-- Modal Delete-->
<div class="modal fade" id="modelId3" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Contract</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body3">

            </div>
        </div>
    </div>
</div>

<!-- Modal view Contract Details-->
<div class="modal fade" id="modelId4" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Contract Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body4">

            </div>
        </div>
    </div>
</div>

<!--Script-->

<script>
    $("#btnModalCreate").click(function () {
        $.ajax({
            type: "GET",
            url: "/contract/create",
            dataType: "HTML",
            success: function (data) {
                $(".modal-body").html(data);
                $("#modelId").modal('show');
            }
        })
    });
    function showDetails(id){
        console.log("show details");
        $.ajax({
            type: "GET",
            url: "/contract/details/"+id,
            dataType: "HTML",
            success: function (data){
                $(".modal-body4").html(data);
                $("#modelId4").modal('show');
            }
        })
    }
    function saveDetails(id){
        $.ajax({
            type: "GET",
            url: "/contract/saveDetails/"+id,
            dataType: "HTML",
            success: function (data){
                $(".modal-body4").html(data);
                $("#modelId4").modal('show');
            }
        })
    }
    function showEdit(id) {
        $.ajax({
            type: "GET",
            url: "/contract/edit/"+id,
            dataType: "HTML",
            success: function (data) {
                $(".modal-body2").html(data);
                $("#modelId2").modal('show');
            }
        })
    }
    function showDelete(id) {
        $.ajax({
            type: "GET",
            url: "/contract/delete/"+id,
            dataType: "HTML",
            success: function (data) {
                $(".modal-body3").html(data);
                $("#modelId3").modal('show');
            }
        })
    }
    // Hàm search realtime
    $(document).ready(function () {
        $("#inputSearch").on("keyup", function () {

            var search = document.getElementById("inputSearch").value;

            $.ajax({
                type: "GET",
                url: "/contract/search?search=" + search,
                dataType: "HTML",
                success: function (data) {
                    $("#searchTable").html(data);
                }
            })
        })
    });
    function actionDelete(id){
        $.ajax({
            type: "POST",
            url: "/contract/delete/" + id,
            dataType: "HTML",
            success: function (data) {
                var messageDelete = "Delete!!!";
                $("#modelId3").modal('hide');
                $("#searchTable").html(data);
                $(".modal-body3").html(messageDelete);
                $("#modelId3").modal('show');
            }

        })
    }
</script>
</body>
</html>