<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{contract/saveDetails}" method="post" th:object="${contractDetails}">
    <!--    <input type="hidden" th:field="*{contract_details_id}">-->
    <div class="form-group row">
        <label for="attachService" class="col-sm-2 col-form-label">Attach Service</label>
        <div class="col-sm-2">
            <select class="form-control" id="attachService" th:field="*{attachServiceId}">
                <option th:each="a:${attachServices}" th:value="${a.attachServiceId}" th:text="${a.attachServiceName}" value=""></option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="quality" class="col-sm-2 col-form-label">Quantity</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="quality" th:field="*{quality}">
        </div>
        <th:block>
            <span th:if="${#fields.hasErrors('quality')}" th:errors="*{quality}">Name Error</span>
        </th:block>
    </div>
    <button type="submit" class="btn btn-primary" style="justify-content: center; margin-left: 150px"> Update</button>
</form>
</body>
</html>