<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Remove Employee</title>
</head>
<body>

<input type="hidden" th:field="${employee.employeeId}">
<div>
    Name: <p th:text="${employee.employeeName}"></p>
    Do you sure to delete?
</div>
<button id="clickDelete" type="button" class="btn btn-danger" style="margin-left: 100px"
        th:onclick="'javascript:actionDelete(\''+ ${employee.employeeId} + '\');'">Delete</button>

</body>
</html>