<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:action="@{employee/edit}" method="post" th:object="${employee}">
    <input type="hidden" th:field="*{employeeId}">
    <div class="form-group row">
        <label for="employeeName" class="col-sm-2 col-form-label">Full Name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="employeeName" th:field="*{employeeName}">
        </div>
        <th:block>
            <span style="color: red" th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="employeeBirthday" class="col-sm-2 col-form-label">Birthday</label>
        <div class="col-sm-8">
            <input type="date" class="form-control" id="employeeBirthday" th:field="*{employeeBirthday}">
        </div>
        <th:block>
            <span style="color: red" th:if="${#fields.hasErrors('employeeBirthday')}" th:errors="*{employeeBirthday}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="employeeIdCard" class="col-sm-2 col-form-label">ID Card</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="employeeIdCard" th:field="*{employeeIdCard}">
        </div>
        <th:block>
            <span style="color: red" th:if="${#fields.hasErrors('employeeIdCard')}" th:errors="*{employeeIdCard}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="employeeSalary" class="col-sm-2 col-form-label">Salary</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="employeeSalary" th:field="*{employeeSalary}">
        </div>
        <th:block>
            <span style="color: red" th:if="${#fields.hasErrors('employeeSalary')}" th:errors="*{employeeSalary}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="employeePhone" class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="employeePhone" th:field="*{employeePhone}">
        </div>
        <th:block>
            <span style="color: red" th:if="${#fields.hasErrors('employeePhone')}" th:errors="*{employeePhone}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="employeeEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-8">
            <input  type="text" class="form-control" id="employeeEmail" th:field="*{employeeEmail}">
        </div>
        <th:block>
            <span style="color: red" th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="employeeAddress" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-8">
            <input  type="text" class="form-control" id="employeeAddress" th:field="*{employeeAddress}">
        </div>
        <th:block>
            <span style="color: red" th:if="${#fields.hasErrors('employeeAddress')}" th:errors="*{employeeAddress}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="position" class="col-sm-2 col-form-label">Position</label>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <select class="form-control" id="position" th:field="*{positionId}">
                <option th:each="p:${positions}" th:value="${p.positionId}" th:text="${p.positionName}" value=""></option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="education_degree" class="col-sm-2 col-form-label">Education Degree</label>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <select class="form-control" id="education_degree" th:field="*{educationDegree}">
                <option th:each="e:${educationDegrees}" th:value="${e.educationDegreeId}" th:text="${e.educationDegreeName}" value=""></option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="division" class="col-sm-2 col-form-label">Division</label>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <select class="form-control" id="division" th:field="*{divisionId}">
                <option th:each="d:${divisions}" th:value="${d.divisionId}" th:text="${d.divisionName}" value=""></option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputUsername">Username</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="inputUsername" th:field="*{userId.username}"/>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-left: 170px">Create</button>
</form>

</body>
</html>