<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:action="@{service/edit}" method="post" th:object="${service}">
    <input type="hidden" th:field="*{service_id}">
    <div class="form-group row">
        <label for="service_name" class="col-sm-2 col-form-label">Name service</label>
        <div class="col-sm-2 col-lg-1">
            <select class="form-control" id="service_name" th:field="*{service_name}">
                <option value="1">Villa</option>
                <option value="2">House</option>
                <option value="3">Room</option>
            </select>
        </div>
        <th:block>
            <span th:if="${#fields.hasErrors('service_name')}" th:errors="*{service_name}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="service_area" class="col-sm-2 col-form-label">Area</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="service_area" th:field="*{service_area}">
        </div>
        <th:block>
            <span th:if="${#fields.hasErrors('service_area')}" th:errors="*{service_area}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="service_cost" class="col-sm-2 col-form-label">Cost</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="service_cost" th:field="*{service_cost}">
        </div>
        <th:block>
            <span th:if="${#fields.hasErrors('service_cost')}" th:errors="*{service_cost}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="service_max_people" class="col-sm-2 col-form-label">Max People</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="service_max_people" th:field="*{service_max_people}">
        </div>
        <th:block>
            <span th:if="${#fields.hasErrors('service_max_people')}" th:errors="*{service_max_people}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="serviceType" class="col-sm-2 col-form-label">Type Service</label>
        <div class="col-sm-6 col-lg-1">
            <select class="form-control" id="serviceType" th:field="*{serviceType}">
                <option th:each="st:${serviceTypes}" th:value="${st.service_type_id}" th:text="${st.service_type_name}" value=""></option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="rentType" class="col-sm-2 col-form-label">Rent Type</label>
        <div class="col-sm-6">
            <select class="form-control" id="rentType" th:field="*{rentType}">
                <option th:each="rt:${rentTypes}" th:value="${rt.rent_type_id}" th:text="${rt.rent_type_name}" value=""></option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="standard_room" class="col-sm-2 col-form-label">Standard</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="standard_room" th:field="*{standard_room}">
        </div>
        <th:block>
            <span th:if="${#fields.hasErrors('standard_room')}" th:errors="*{standard_room}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="description_other_convenience" class="col-sm-2 col-form-label">Description Other</label>
        <div class="col-sm-8">
            <textarea type="a" class="form-control" id="description_other_convenience" th:field="*{description_other_convenience}"></textarea>
        </div>
        <th:block>
            <span th:if="${#fields.hasErrors('description_other_convenience')}" th:errors="*{description_other_convenience}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="pool_area" class="col-sm-2 col-form-label">Pool Area</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="pool_area" th:field="*{pool_area}">
        </div>
        <th:block>
            <span th:if="${#fields.hasErrors('pool_area')}" th:errors="*{pool_area}">Name Error</span>
        </th:block>
    </div>

    <div class="form-group row">
        <label for="number_of_floors" class="col-sm-2 col-form-label">Number Floors</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="number_of_floors" th:field="*{number_of_floors}">
        </div>
        <th:block>
            <span th:if="${#fields.hasErrors('number_of_floors')}" th:errors="*{number_of_floors}">Name Error</span>
        </th:block>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-left: 170px">Create</button>
</form>

</body>
</html>